<li  class="collection-item avatar" >
    <img
        src="assets/img/todo-item.png"
        alt="Task"
        class="circle"
        loding="lazy"
    >
    <div [class.completed]="task.done" class="task">
        {{ task.task }}

        <div class="todo-icons">
            <a
                class="waves-effect waves-light"
                (click)="OnRemoveTask.emit(task.id)"
            >
                <i class="material-icons right">delete</i>
            </a>

            <a
                class="waves-effect waves-light"
                (click)="OnToggleTask.emit(task)"
            >
                <i class="material-icons left">check</i>
            </a>
        </div>
    </div>
</li>